/*--- Colors ----*/
$white-color:#ffffff;
$yellow-color:#e5d55a;




/*--- Fonts ----*/
@font-face {
  font-family: 'ArnoldBocklinC-Regular';
  src: url('../../../fonts/arnoldbocklinC.ttf');
}